/********************************
GENERAL
********************************/

footer {
	color: #ffffff;
	background: #6ab47b;
}

a:hover {
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/*Fixes Bootstrap space on right issue*/
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

p {
	font-size: 17px;
}

.horizLine {
	border-bottom: 2px solid #ddd;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	max-width: 1280px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#main {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #6ab47b;
}

.heading_green {
	font-size: 22px;
	color: #6ab47b;
	float: left;
	padding-right: 5px;
}

.heading {
	font-size: 22px;
}

.experienceBlock .thumbnail, 
.projectBlock .thumbnail {
	float: left;
	margin-right: 80px;
	margin-bottom: 40px;
}


/********************************
HEADING
********************************/

#logo {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin-top: 0;
	padding-top: 10px;
}

.navbar {
	margin-bottom: 10px;
}

.navbar-header {
	margin-left: 5%;
	float: left;
	width: 200px;
	height: 100px;
	padding-top: 20px;
}

.navbar-right {
	float: right!important;
	margin-top: 5px;
	margin-right: 5%;
	padding-top: 20px;
}

.navbar-inverse .navbar-toggle {
	margin-top: 28px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #6ab47b;
}



/********************************
INTRO SECTION
********************************/

.introBlock {
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 40px;
}

#introPic {
	width: 160px;
	border-radius: 15px;
}

.introText {
	font-size: 19px;
	margin-left: 190px;
}

.sidebar {
	float: left;
	border-radius: 15px;
}

.highlightedText {
	font-size: 24px;
}

@media screen and (max-width: 900px) {
	#introPic {
		width: 160px;
		border-radius: 15px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.sidebar {
		float: none;
		border-radius: 15px;
	}

	.introText {
		font-size: 19px;
		margin-left: 0px;
		padding-top: 30px;
	}
}


/********************************
PROJECT SECTION
********************************/
.projectBlock {
	margin-left: 5%;
}

.category {
	font-size: 30px;
}

.thumbnail {
	text-align: center;
	width: 200px;
	border: 2px solid #ddd;
	transition: border-color 1s, color 1s;
}

.thumbnail:hover, .thumbnail:hover h3, .thumbnail:hover h4{
	border-color: #6ab47b;
	color: #6ab47b;
}

.projectRow {
	margin-left: 5%;
	margin-top: 30px;
}




/********************************
EXPERIENCE SECTION
********************************/
.experienceBlock{
	margin-left: 5%;
}



/********************************
FOOTER
********************************/
.copyright {
	width: 200px;
	font-size: 15px;
	padding-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
} 

.resumeBlock{
	padding-left: 40px;
	width: 300px;
	height: 260px;
	color: #fff;
	padding-top: 20px;
	float: left;
	border-right: thin solid #fff;
}

.resumeIndent {
	margin-left: 50px;
	margin-top: 30px;
}

.resumeIndent img {
	width: 120px;
	margin-top: -10px;
	border: 2px solid #fff;
	border-radius: 3px;
	transition: border 1s;
}

.resumeImg > img:hover {
	border: 2px solid #6ab47b;
}

.contactBlock {
	width: 400px;
	height: 260px;
	color: #ffffff;
	margin-left: 350px;
	padding-top: 20px;
	border-right: thin solid #fff;
}

.contactBlock img{
	width: 50px;
	border: solid #fff;
	border-width: 3px;
	border-radius: 5px;
}

.socialBlock {
	position: relative;
	left: 10px;
}

.socialBlock img{
	margin-left: 20px;
}

@media screen and (max-width: 768px) {
	.resumeBlock{
		float: left;
		border-right: none;
		margin-bottom: 25px;
	}
	.resumeIndent {
		margin-left: 0px;
		margin-top: 30px;
	}
	.contactBlock {
		margin-left: 0px;
		padding-left: 40px;
		border-right: none;
	}
	.socialBlock img{
		margin-left: 0px;
		margin-right: 14px;
	}
	footer {
		height: 510px;
	}
}


/********************************
Palo Alto Networks
********************************/

.palo_alto_networks {
	width: 60%;
	margin-left: 20%;
}

.palo_alto_networks a {
	color: #999999;
	transition: color 0.2s;
}

.palo_alto_networks a:hover {
	color: #6ab47b;
}

.palo_alto_networks img {
	margin-bottom: 10px;
	border: 2px solid #ddd;
	border-radius: 5px;
	transition: border 0.5s;
}

/********************************
HubUp
********************************/

.hubup {
	width: 60%;
	margin-left: 20%;
}

.hubup a {
	color: #999999;
	transition: color 0.2s;
}

.hubup a:hover {
	color: #6ab47b;
}

.hubup img {
	width: 100%;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	border-radius: 5px;
	transition: border 0.5s;
}

.hubup img:hover {
	border: 2px solid #6ab47b;
}

.smallImg {
	width: 15%;
	float: left;
}



/********************************
CK-12 Reimagined
********************************/

.challenge {
	width: 60%;
	margin-left: 20%;
}

.challenge a {
	color: #999999;
	transition: color 0.2s;
}

.challenge a:hover {
	color: #6ab47b;
}

.challenge img {
	width: 100%;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	border-radius: 5px;
	transition: border 0.5s;
}

.challenge img:hover {
	border: 2px solid #6ab47b;
}

.challenge #main {
	width: 70%;
}


/********************************
CK-12
********************************/

.ck-12 {
	width: 60%;
	margin-left: 20%;
}

.ck-12 a {
	color: #999999;
	transition: color 0.2s;
}

.ck-12 a:hover {
	color: #6ab47b;
}

.ck-12 img {
	width: 100%;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	border-radius: 5px;
	transition: border 0.5s;
}

.ck-12 img:hover {
	border: 2px solid #6ab47b;
}



/********************************
Create Lab
********************************/

.createLab {
	width: 60%;
	margin-left: 20%;
}

.createLab a {
	color: #999999;
	transition: color 0.2s;
}

.createLab a:hover {
	color: #6ab47b;
}

.createLab img {
	width: 100%;
	margin-bottom: 10px;
	border: 2px solid #ddd;
	border-radius: 5px;
	transition: border 0.5s;
}

.createLab .mainPic {
	width: 90%;
	margin-left: 50px;
}

.createLab img:hover {
	border: 2px solid #6ab47b;
}



/********************************
MoneyThink
********************************/

.moneythink {
	width: 60%;
	margin-left: 20%;
}

.moneythink a {
	color: #999999;
	transition: color 0.2s;
}

.moneythink a:hover {
	color: #6ab47b;
}

.moneythink img {
	width: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border: 2px solid #ddd;
	border-radius: 5px;
	transition: border 0.5s;
}

.moneythink img:hover {
	border: 2px solid #6ab47b;
}



/********************************
EPIC
********************************/

.epic {
	width: 60%;
	margin-left: 20%;
}

.epic a {
	color: #999999;
	transition: color 0.2s;
}

.epic a:hover {
	color: #6ab47b;
}

.epic img {
	width: 200px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
	border: 2px solid #ddd;
	border-radius: 5px;
	transition: border 0.5s;
}

.epic img:hover {
	border: 2px solid #6ab47b;
}

.images {
	margin-left: 15%;
}


/********************************
COLOR
********************************/

/* Site body */
body, h3, h4 {
	color: #999999;
}

header .navbar{
	background: #6ab47b;
	border-color: #599a68;
}

/* Name text */
h1, h2 {
	color: #ffffff;
}

a {
	color: #ffffff;
}

a:hover {
	color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
	transition: color 0.2s;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #555
}

/* Nav link color on hover */
nav a:hover {
	color: #32673f;
}

.highlightedText {
	color: #6ab47b;
}

.back a {
	color: #6ab47b;
}
